# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ADMIN_USER_ID=
ADMIN_USER_IDS=

# Bybit (mainnet: https://api.bybit.com)
BYBIT_BASE_URL=https://api.bybit.com
BYBIT_API_KEY=
BYBIT_API_SECRET=

# Opsiyonel
DB_PATH=bybit_funding_bot.db
MIN_PRICE_CHANGE_PERCENT=2.0
APP_TIMEZONE=Asia/Chita
